body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}

.nav{
    background-color: rgb(57, 100, 64);
    color: white;
    list-style: none;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.nav > li{
    display: inline-block;
    padding: 0 35px;
}

.nav > li > a{
    text-decoration: none;
    color: white;
}

header{
        margin-bottom: 40px;;
}

.sec-1{
    background-color: rgb(57, 100, 64);
    color: white;
}

span{
    color: rgb(5, 177, 33);
}

.flex-cont{
    display: flex;
    margin-bottom: 50px;
}
.h-width{
    width: 50%;
    padding: 5%;
}
.h-width img{
    width: 85%;
}

.link-btn{
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(9, 49, 17),rgb(5, 177, 33));
    font-weight: 700;
}

.about-us{
    background-color: rgb(170, 46, 46);
    color: white;
}

.link-btn2{
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(48, 3, 3),rgb(243, 40, 40));
    font-weight: 700;
}

.width-3{
    width: 80%;
    margin:0 20px;
    padding: 0 15px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
}

.width-3 img{
    width: 90%;
    padding: 15px;
}

.recipie{
    text-align: center;
    margin-bottom: 50px;
}

.recipie-text{
    text-align:center;
}

h3{
    font-weight: 900px;
}

footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 5px 40px 80px 40px;
}

.social{
    list-style: none;
    text-align: center;
}

.social > li{
    display: inline-block;
    padding: 0 20px;
}

.social >li > a{
    text-decoration: none;
    margin-right: 20px;
}

.face{
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(6, 64, 253),rgb(15, 19, 255));
    font-weight: 700;
}

.twit{
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(101, 150, 255),rgb(90, 58, 233));
    font-weight: 700;
}

.insta{
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(221, 82, 2),rgb(128, 57, 0));
    font-weight: 700;
}