body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;


}

.nav{
    background-color: rgb(57, 100, 64);
    color: white;
    list-style: none;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.nav > li{
    display: inline-block;
    padding: 0 35px;
}

.nav > li > a{
    text-decoration: none;
    color: white;
}

header{
        margin-bottom: 40px;;
}

.sec-1{
    background-color: rgb(57, 100, 64);
    color: white;
}

span{
    color: rgb(5, 177, 33);
}

section{
    display: flex;
}
.h-width{
    width: 50%;
    padding: 5%;
}
.h-width img{
    width: 85%;
}

.link-btn{
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(57, 100, 64),rgb(5, 177, 33));
    font-weight: 700;
}




image{
    display: ;
}